div{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
}
@keyframes example{
    0%{background-color: rebeccapurple;left: 0px;right: 0px; }
    25%{background-color: blue;left: 200px;top: 0px;}
    50%{background-color: chartreuse;left: 200px;top: 200px;}
    75%{background-color: darkgreen;left: 0px;top: 200px;}
    100%{background-color: fuchsia;left: 0px;top: 0px;}
}